# Ignore VS Code settings for everyone
.vscode/

# Ignore any environment files in any folder
*.env
api_key.env

# Ignore Java build files
**/target/

# Ignore Node/Next.js files for your Client folder
**/node_modules/
**/.next/